{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    
          <!--   *** SIDEBAR ***-->
          <div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" >
            <div class="sidebar-content">
              <h1 class="sidebar-heading"> <a href="{% slugurl 'blogindex' %}" >Django-Website-Builder</a></h1>
              <p class="sidebar-p"> </p>
              <p class="sidebar-p"></p>
              <ul class="sidebar-menu"> 
                <li class=""><a href="{% slugurl 'blogindex' %}">Blog</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
              </ul>
              <p class="social"><a href="{{ settings.pages.SocialMediaSettings.facebook }}" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a>
              <a href="{{ settings.pages.SocialMediaSettings.facebook }}" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a>
              <a href="{{ settings.pages.SocialMediaSettings.twitter_name }}" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a>
              <a href="{{ settings.pages.SocialMediaSettings.github }}" title="" class="external instagram"><i class="fa fa-instagram"></i></a>
              <a href="{{ settings.pages.SocialMediaSettings.email }}" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p> 
              <div class="copyright">
                <p class="credit">&copy;2016 Your name or company </p>
          </div>
            </div>

          </div>

          <!--   *** SIDEBAR END ***  -->
         
         
          
     
  
{% endblock %}
