<p><b>Sharing is Caring</b></p>
<div class="row">
      <div>
          <a class="btn col-sm-1" href="http://www.facebook.com/sharer.php?u=http://{{site_name}}{{ request.path }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
      </div>
      <div>
          <a class="btn col-sm-1  twitter" href="https://twitter.com/share?url=http://{{site_name}}{{ request.path }}"><i class="fa fa-twitter"></i></a>
      </div>
      <div>
          <a class="btn col-sm-1  google" href="https://plus.google.com/share?url=http://{{site_name}}{{ request.path }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
      </div>
      <div>
          <a class="btn col-sm-1  linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://{{site_name}}{{ request.path }}" target="_blank" title="Share on linkedIn"><i class="fa fa-linkedin"></i></a>
      </div>
      <div>
          <a class="btn col-sm-1  pin" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank" title="Pin it"><i class="fa fa-pinterest-square"></i></a>
      </div>
      <div>
          <a class="btn col-sm-1  mail" href="mailto:?subject={{self.title}}&body=http://{{site_name}}{{ request.path }}" target="_blank" title="Email"><i class="fa fa-envelope"></i></a>
      </div>
      <div>
          <a class="btn col-sm-1 " href="javascript:window.print()" target="_blank" title="Print"><i class="fa fa-print"></i></a>
      </div>
</div>
<br>

