{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div id="all">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left"> 
          <!--   *** SIDEBAR ***-->
         {% include "blog/includes/sidebar.html" %}
          <!--   *** SIDEBAR END ***  -->
          <!--   *** PORTFOLIO ***-->
          <div class="col-xs-12 col-sm-8 col-md-9 content-column">
            <div class="small-navbar visible-xs">
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <h1 class="small-navbar-heading"> <a href="index.html">Savvy </a></h1>
            </div>

            {% if request.GET.tag|length %}
                <h4>Showing posts tagged as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">Show all</a></h4>
            {% endif %}

            
                
            <div class="grid">
              <div class="row">
              {% for blog in blogs %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="{% pageurl blog %}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    {% if blog.image %}
                    {% image blog.image fill-300x300 %}
                    {% endif %}
                  </a>
                    <div class="box-masonry-text">
                      <h4> {{ blog.intro|richtext }}</h4>
                      <div class="box-masonry-desription">
                        <p>{{ blog.date }}  </p>
                      </div>
                    </div>
                  </div>
                </div>
                {% empty %}
                    No blogs found
                {% endfor %}
              </div>  
            </div>
            

                <div class="row">    
              <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    {% if blogs.has_previous %}
                        <li class="pagination-previous">
                            <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a></li>
                        {% else %} 
                        <li class="pagination-previous disabled">Previous</li>
                    {% endif %}
                    <li class="unavailable">Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}</li>
                    {% if blogs.has_next %}
                        <li class="pagination-next">
                            <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a></li>
                        {% else %}
                        <li class="pagination-next disabled">Next</li>
                    {% endif %}
              </ul>
          </div>
        </div>
                
          </div>

          
          
          <!--   *** PORTFOLIO END ***
          -->

          
      </div>
    </div>
   
  
{% endblock %}
