{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static wagtailcore_tags %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block content %}
    <div id="all">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left"> 
          <!--   *** SIDEBAR ***-->
          {% include "blog/includes/sidebar.html" %}
          <!--   *** SIDEBAR END ***  -->
          <!--   *** DETAIL ***-->
          <div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
            <div class="small-navbar visible-xs">
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <h1 class="small-navbar-heading"> </h1>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1>{{ self.title }}</h1>
                  <p>{{ self.date }}</p>
                  <p class="lead">{{ self.intro|richtext }}</p>
                  {% include "blog/includes/social_share.html" %}
                  {% image self.image fill-600x300 %}
                  <div id="main-slider">
                  {% if carousel_items %}
                  <div class="item">
                      {% for carousel_item in carousel_items %}
                          <li>
                               {% if carousel_item.link %}<a href="{{ carousel_item.link }}" target="_blank">{% endif %}
                               
                                {% if carousel_item.embed_url %}
                                    {{ carousel_item.embed_url|embed:1000 }}
                                {% else %}
                                  {% image carousel_item.image width-1400 as carousel_imagedata %}
                                      <img  src="{{ carousel_imagedata.url }}" title="{{ carousel_item.caption }}" alt="{{ carousel_imagedata.alt }}"/>
                                 {% endif %}
                               {% if carousel_item.link %}</a>{% endif %}
                          </li>
                      {% endfor %}
                  </div>
                  {% endif %}

                  </div>

                  <p>{{self.body|richtext}}</p>

                  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//django-blog-2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
