{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div id="all">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left"> 
          <!--   *** SIDEBAR ***-->
          <div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
            <div class="sidebar-content">
              <h1 class="sidebar-heading"> <a href="index.html">Savvy</a></h1>
              <p class="sidebar-p">Website Builder </p>
              <p class="sidebar-p">Blah blah blah </p>
              <ul class="sidebar-menu"> 
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
              <p class="social"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="external instagram"><i class="fa fa-instagram"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p> 
            </div>
          </div>
          <!--   *** SIDEBAR END ***  -->
          <!--   *** PORTFOLIO ***-->
          <div class="col-xs-12 col-sm-8 col-md-9 content-column">
            <div class="small-navbar visible-xs">
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <h1 class="small-navbar-heading"> <a href="index.html">Savvy </a></h1>
            </div>

            {% if request.GET.tag|length %}
                <h4>Showing posts tagged as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">Show all</a></h4>
            {% endif %}

            {% for blog in blogs %}
                
            <div class="grid">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="{% pageurl blog %}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    {% if blog.feed_image %}
                    {% image blog.feed_image fill-100x100 %}
                    {% endif %}
                  </a>
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">{{ blog.intro|richtext }}</a></h4>
                      <div class="box-masonry-desription">
                        <p>{{ blog.search_description }}  </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
            {% empty %}
                    No blogs found
                {% endfor %}

                <div class="row">    
              <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    {% if blogs.has_previous %}
                        <li class="pagination-previous">
                            <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a></li>
                        {% else %} 
                        <li class="pagination-previous disabled">Previous</li>
                    {% endif %}
                    <li class="unavailable">Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}</li>
                    {% if blogs.has_next %}
                        <li class="pagination-next">
                            <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a></li>
                        {% else %}
                        <li class="pagination-next disabled">Next</li>
                    {% endif %}
              </ul>
          </div>
        </div>
                
          </div>

          
          
          <!--   *** PORTFOLIO END ***
          -->

          
      </div>
    </div>
   
  
{% endblock %}
